body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

/* Dark Mode */
.dark {
  background-color: #243447;
  height: 100vh;
  color: #bebebe;
}

.dark li a {
  color: #bebebe;
}

.dark li a:hover {
  background-color: #111;
}

/* Light Mode */
.light {
  background-color: #fff8f2;
  color: black;
  height: 100vh;
}

.light li a {
  color: black;
}

.light li a:hover {
  background-color: rgb(29, 128, 210);
}

/* Styling the Switch button */
.switch {
  position: fixed;
  right: 50px;
  top: 15px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#back-btn {
  position: fixed;
  top: 12px;
  right: 136px;
  width: 89px;
  height: 43px;
  background-color: black;
  color: white;
}
footer {
  position: fixed;
  border-style: solid;
  width: 98%;

  bottom: 50px;
}

.blog-post {
  padding: 1rem;
  border: 2px solid black;
  margin-bottom: 1rem;

  h2 {
    width: auto;
    border-bottom: 1px solid black;
    position: relative;
    top: -10px;
    margin-top: 0;
  }
}

/* .dark {
  border-color: white;
} */
