body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0;
}

#back-btn {
  position: fixed;
  top: 12px;
  right: 136px;
  width: 89px;
  height: 43px;
  background-color: black;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  border-style: solid;
}

.blog-post {
  padding: 1rem;
  border-style: solid;
  margin-bottom: 1rem;

  h2 {
    width: auto;
    border-bottom: 1px solid;
    position: relative;
    top: -10px;
    margin-top: 0;
  }
}
