header {
  padding: 50px;

  position: fixed;

  top: 50px;
  left: 0;
  width: 100%;
}
body {
  margin: 0;
}

header h1 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  inset: 500px 0px 0px 0px;
}

#submit-btn {
  background-color: black;
  color: white;
}
