* {
  font-family: cursive;
}
body {
  padding: 0;
}

/* Dark Mode */
.dark {
  background-color: #243447;
  height: 100vh;
  color: #bebebe;
}

/* Light Mode */
.light {
  background-color: #fff8f2;
  color: black;
  height: 100vh;
}

/* Styling the Switch emoji */
.switch {
  position: fixed;
  right: 50px;
  top: 15px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* The emoji switcher */
.emoji-switch {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  inset: -22px 0px 0px 0px;
  font-size: x-large;
}
